#talks
  .block_title
    Talk proposals
  #nav
    =link_to "Popular", popular_talks_url
    \/
    =link_to "New", newest_talks_url
    \/
    =link_to "Submit", new_talk_path

.show_talk
  - if(user_logged_in? and @current_user.voted_for?(@talk.id))
    = form_for @talk.votes.build(:user_id=>current_user.id), :remote=>true, :html=>{:'data-type'=>'html', :class=>'voting_form'} do |f|
      = token_tag
      = f.hidden_field :talk_id, :value => @talk.id
      = image_submit_tag 'vote_up.png', :class=>"vote_button"
  - else
    .voting_form &nbsp;
  .talk_details  
    .title
      = @talk.title
    .talk_meta
      %span.votes
        = @talk.votes_count
        votes
      %span.author_meta
        submitted by 
        = @talk.user.name
  .description_wrapper
    .description
      = @talk.description
  
  .comments
    .comment_count
      %span{:id=>"count_number"}=@talk.comments.count
      comments
    - @talk.comments.each do |c|
      .comment
        .comment_meta
          = c.user.name unless c.user.nil?
          \//
          = link_to @talk.posted_on, talk_path(@talk, :anchor=>"comment_"+c.id.to_s), :name=>"comment_"+c.id.to_s
        .comment_text
          = c.description

  - if @current_user
    = form_for @talk.comments.build, :remote=>true, :html=>{:'data-type'=>'html', :class=>'comment_form'} do |f|
      #comment_msg
      = @current_user.name
      says
      %br
      = f.text_area :description
      = f.hidden_field :talk_id
      %br
      = f.submit "Add comment", :class=>"submit_button"
