#talks
  .block_title
    Talk proposals
  #nav
    - if params[:action]=="index"
      =link_to "Popular", popular_talks_url, :class=>"current_page"
    - else
      =link_to "Popular", popular_talks_url
    \/
    - if params[:action]=="newest"
      =link_to "New", newest_talks_url, :class=>"current_page"
    - else
      =link_to "New", newest_talks_url
    \/
    =link_to "Submit", new_talk_path

  #talk_list
    - @talks.each do |t|
      .talk
        - if user_logged_in? and @current_user.voted_for?(t.id)
          = form_for t.votes.build(:user_id=>current_user.id), :remote=>true, :html=>{:'data-type'=>'html', :class=>'voting_form'} do |f|
            = token_tag
            = f.hidden_field :talk_id, :value => t.id
            = image_submit_tag 'vote_up.png', :class=>"vote_button"
        - else
          .voting_form &nbsp;
        .talk_details
          .title
            = link_to t.title, talk_path(t)
          .talk_meta
            %span.votes
              = t.votes_count
              votes,
            %span.author_meta
              submitted by
              = t.user.name

#activity
  .block_title
    Recent comments
  .comment_list
    -@comments.each do |c|
      .comment
        = c.user.name
        on
        = c.talk.title