!!!
%html
  %head
    %title Androidcamp
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic'    
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold'
    = stylesheet_link_tag 'compiled/app.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = javascript_include_tag :defaults
    /[if lt IE 7]
      = stylesheet_link_tag 'compiled/ie6.css', :media => 'screen, projection'  

    = yield :header
    = csrf_meta_tag
  %body
    #wrapper
      #user_info
        - if current_user
          = current_user.name
          \-
          = link_to "SignOut", signout_path
        - else
          = link_to "Sign In with Google", "/auth/google", :class=>"login_link"
      #header
        #droid_logo
          = image_tag "android.png"
        %h1{:id=>"site_name"}
          %span{:id=>"android"}>Android
          &#8203;
          %span{:id=>"camp"}>Camp
        
      #content
        = yield
      #footer
        AndroidCamp is an event by the fine fellows at
        = link_to "HasGeek.", "http://hasgeek.in"
        %span Got ideas? Share on the
        = link_to "discussion group", "http://groups.google.com/group/android-camp"
